include LICENSE *.yml .pre-commit-config.yaml tox.ini pyproject.toml conftest.py
include docs/Makefile docs/conf.py
include *.rst *.txt *.md
recursive-include docs *.rst
recursive-include tests *.py
recursive-exclude tests *.pyc
graft .github
