include LICENSE .coveragerc .travis.yml .pre-commit-config.yaml tox.ini pyproject.toml
include docs/Makefile docs/conf.py
include *.rst *.txt
exclude conftest.py .readthedocs.yml
recursive-include docs *.rst
prune tests
prune .github
